
<div id="gsFlexGrid" class="scrollGrid">
	<div class="ui-datatable-header ui-widget-header" *ngIf="element.config?.uiStyles?.attributes?.showHeader == true">
		<p-header>
			{{label}}
			<nm-tooltip *ngIf="helpText" [helpText]='helpText'></nm-tooltip>
		</p-header>
		<div class="recordsDisplayed">Showing {{rowStart}}-{{rowEnd}} of  {{totalRecords}}
			 <button *ngIf="element.config?.uiStyles?.attributes?.clearAllFilters" class="btn-plain ml-2" (click)="clearAll()"><i class="fa fa-fw fa-times hidden-md-down" aria-hidden="true"></i>Clear Grid Filters</button> 
			 <button *ngIf="element.config?.uiStyles?.attributes?.export" class="btn-plain ml-2" (click)="export()"><i class="fa fa-fw fa-share hidden-md-down" aria-hidden="true"></i>Export</button>
		</div>
		
	</div>
	
	<p-dataTable #flex #dataTable #table [value]="value"
		[(selection)]="selectedRows" 
		(onRowClick)="onRowClick($event)"
		(onRowSelect)="onRowSelect($event)"
		(onRowUnselect)="onRowUnselect($event)"
		(valueChange)="handleRowChange($event)"
		[rows]="element.config?.uiStyles?.attributes?.pageSize"
		[paginator]="element.config?.uiStyles?.attributes?.pagination"
		paginatorPosition="both"
		[alwaysShowPaginator] ="false"
		[expandableRows]="element.config?.uiStyles?.attributes?.expandableRows"
		(onRowExpand)="getAddtionalData($event)"
		(onPage)="paginate($event)"
        (onFilter)="filterCallBack($event)"
        (onSort)="updatePageDetailsState()"

		[responsive]="true" #dt> 

		<p-column styleClass="col-select" 
			selectionMode="multiple" *ngIf="element.config?.uiStyles?.attributes?.rowSelection">
		</p-column> 

		<p-column expander="true" styleClass="col-icon" *ngIf="element.config?.uiStyles?.attributes?.expandableRows"></p-column>

		<ng-template ngFor let-col let-colIndex="index" [ngForOf]="params">

			<p-column *ngIf="col?.uiStyles?.attributes?.alias != 'Link' && col?.uiStyles?.attributes?.alias != 'LinkMenu' && col?.type?.nested == false"
				[field]="col?.code" 
				[header]="col?.label"
				[exportable]="(col?.uiStyles?.attributes?.hidden) ?  false : true"
				[hidden]="col?.uiStyles?.attributes?.hidden"
				[sortable]="(!col?.uiStyles?.isLink && col?.uiStyles?.attributes?.sortable !== false) ? 'custom' : false"
				(sortFunction)="sortBy($event, col?.type?.name, col?.uiStyles?.attributes?.sortAs)"
				[filter]="!showFilters ? false : col?.uiStyles?.attributes?.filter"
				[filterMatchMode]="col?.uiStyles?.attributes?.filterMode" > 
							
				<ng-template pTemplate="header"> 
					<span title="{{col?.label}}"  *ngIf="!col?.uiStyles?.isLink">{{col.label}}</span> 
					<a href="javascript:void(0)" (click)="toggleFilter(col?.uiStyles?.attributes?.filter)" class='gridFilterIcon' [class.activeFilter]="isActive(colIndex)" *ngIf="!col?.uiStyles?.isLink && col?.uiStyles?.attributes?.filter"></a> 
				</ng-template> 
				
				<ng-template *ngIf="col?.uiStyles?.attributes?.alias == 'CheckBox'" pTemplate="body" let-cell="rowData"> 
					<label> <input type="checkbox" (click)="postOnChange(col, cell)"> </label> 
				</ng-template>

				<ng-template let-datacol let-row="rowData" pTemplate="body">
					<ng-template [ngIf]="!row[datacol.field]">
						<span>{{col?.uiStyles?.attributes?.placeholder}}</span>
					</ng-template>
					<ng-template [ngIf]="row[datacol.field] && isDate(col.type.name)">
						<span title="{{row[datacol.field] | dateTimeFormat: col.uiStyles?.attributes?.datePattern : col.type.name }}">{{row[datacol.field] | dateTimeFormat: col.uiStyles?.attributes?.datePattern : col.type.name }}</span>
					</ng-template>
					<ng-template [ngIf]="row[datacol.field] && !isDate(col.type.name)">
						<span title="{{row[datacol.field]}}">{{row[datacol.field]}}</span> 
					</ng-template>

					
				</ng-template>

			<ng-template  let-filtercol pTemplate="filter">
				<ng-template [ngIf]="isDate(col.type.name)">
					<div class="filterHolder" >
					<input #text type="text" [(ngModel)]="filterState[colIndex]" (input)="dateFilter($event, dt, filtercol.field, col?.uiStyles?.attributes?.filterMode, col?.uiStyles?.attributes?.datePattern, col?.type?.name)"> 
					<button (click)= "clearFilter(text,dt,filtercol.field); filterState[colIndex]=''" ><i class="fa fa-times"></i>  </button>
				    </div>	
				</ng-template>

				<ng-template [ngIf]="!isDate(col.type.name)">
					<div class="filterHolder" >	
					<input #text type="text" [(ngModel)]="filterState[colIndex]" (input)="inputFilter($event, dt, filtercol.field, col?.uiStyles?.attributes?.filterMode)">
					<button (click)= "clearFilter(text,dt,filtercol.field); filterState[colIndex]=''" ><i class="fa fa-times"></i>  </button>
				    </div>
				</ng-template>
			</ng-template> 
				
			</p-column>

			<p-column *ngIf="col?.uiStyles?.attributes?.alias=='LinkMenu'" styleClass="dropdown">
				<ng-template pTemplate="body" let-cell="rowData" let-rowIndex="rowIndex">
					<nm-action-dropdown #dropDown [element]="getLinkMenuParam(col,rowIndex)" [params]="col?.type?.model?.paramConfigs" [rowData]="cell" [elementPath]="getRowPath(col, cell)" (dropDownClick)="toggleOpen($event)"></nm-action-dropdown>
				</ng-template>
			</p-column>
			
		</ng-template>

		<ng-template let-row pTemplate="rowexpansion">
			<nm-section [element]="row.nestedElement"></nm-section>	
		</ng-template> 
		
		<p-footer>
			<ng-template [ngIf]="element.config?.uiStyles?.attributes?.postButton">
				<div class="buttonGroup left">
					<button (click)="postGridData(this)" type="button" class="btn btn-secondary post-btn">
						{{element.config.uiStyles.attributes.postButtonLabel}}
					</button>
				</div>
			</ng-template>
		</p-footer> 
				   
	</p-dataTable>
	
</div>
