<!-- <div class="col-xs-12 alert alert-{{element?.type?.model?.config?.message?.type}}" role="alert" *ngIf="element?.type?.model?.config?.message">
    {{element?.type?.model?.config?.message?.content}}
</div> -->
 
<!-- Total Results: {{data == null ? leafState.length : data?.length}}   -->

<div id="gsFlexGrid" class="scrollGrid">
	<div class="ui-datatable-header ui-widget-header">
		<p-header>
			{{label}}
			<nm-tooltip *ngIf="helpText" [helpText]='helpText'></nm-tooltip>
		</p-header>
		<div class="recordsDisplayed">Showing {{rowStart}}-{{rowEnd}} of  {{totalRecords}}</div>
	</div>
	
	<p-dataTable #flex #dataTable #table [value]="value"
		[(selection)]="selectedRows" 
		(onRowClick)="onRowClick($event)"
		(onRowSelect)="onRowSelect($event)"
		(onRowUnselect)="onRowUnselect($event)"
		(valueChange)="handleRowChange($event)"
		[rows]="element.config?.uiStyles?.attributes?.pageSize"
		[paginator]="element.config?.uiStyles?.attributes?.pagination"
		scrollable="true" 
		scrollHeight="200px"
		paginatorPosition="both"
		alwaysShowPaginator ="false"
		[expandableRows]="element.config?.uiStyles?.attributes?.expandableRows"
		(onRowExpand)="getAddtionalData($event)"
		(onPage)="paginate($event)"
		[responsive]="true" #dt> 

		<p-column styleClass="col-select" 
			selectionMode="multiple" *ngIf="element.config?.uiStyles?.attributes?.rowSelection">
		</p-column> 

		<p-column expander="true" styleClass="col-icon" *ngIf="element.config?.uiStyles?.attributes?.expandableRows"></p-column>

		<ng-template ngFor let-col [ngForOf]="params">

			<p-column *ngIf="col?.uiStyles?.attributes?.alias != 'Link' && col?.uiStyles?.attributes?.alias != 'LinkMenu'"
				[field]="col?.code" 
				[header]="col?.label"
				[hidden]="col?.uiStyles?.attributes?.hidden"
				[sortable]="!col?.uiStyles?.isLink ? 'custom' : false"
				(sortFunction)="sortBy($event, col?.type?.name, col?.uiStyles?.attributes?.sortAs)"
				[filter]="col?.uiStyles?.attributes?.filter"
				[filterMatchMode]="col?.uiStyles?.attributes?.filterMode"
			
				> 
							
				<ng-template pTemplate="header"> 

				<ng-template [ngIf]="col?.type?.name === 'date' || col?.type?.name === 'Date' || col?.type?.name === 'LocalDateTime'
					|| col?.type?.name === 'ZonedDateTime'">
					<span title="{{col?.label}}"  *ngIf="!col?.uiStyles?.isLink">{{col.label}}</span> 
					<a href="javascript:void(0)" (click)="toggleFilter($event)" class='gridFilterIcon' *ngIf="!col?.uiStyles?.isLink"></a> 
				</ng-template>

				<ng-template [ngIf]="col?.type?.name !== 'date' && col?.type?.name !== 'Date' && col?.type?.name !== 'LocalDateTime'
				&& col?.type?.name !== 'ZonedDateTime'">
					
				<span title="{{col?.label}}"  *ngIf="!col?.uiStyles?.isLink">{{col.label}}</span> 
				<a href="javascript:void(0)" (click)="toggleFilter($event)" class='gridFilterIcon' *ngIf="!col?.uiStyles?.isLink"></a> 
				</ng-template>

				</ng-template> 
				
				<ng-template *ngIf="col?.uiStyles?.attributes?.alias == 'CheckBox'" pTemplate="body" let-cell="rowData"> 
					<label> <input type="checkbox" (click)="postOnChange(col, cell)"> </label> 
				</ng-template> 
				
				<ng-template let-datacol let-row="rowData" pTemplate="body">
					<ng-template [ngIf]="col?.type?.name === 'date' || col?.type?.name === 'Date' || col?.type?.name === 'LocalDateTime'
					|| col?.type?.name === 'ZonedDateTime'">
						<span title="{{row[datacol.field]}}">{{row[datacol.field] | dateTimeFormat: col.uiStyles?.attributes?.datePattern}}</span>
					</ng-template>
					<ng-template [ngIf]="col?.type?.name !== 'date' && col?.type?.name !== 'Date' && col?.type?.name !== 'LocalDateTime'
					&& col?.type?.name !== 'ZonedDateTime'">
						<span title="{{row[datacol.field]}}">{{row[datacol.field]}}</span> 
					</ng-template>
				</ng-template> 

				<ng-template let-filtercol pTemplate="filter">
					<ng-template [ngIf]="col?.type?.name === 'date' || col?.type?.name === 'Date' || col?.type?.name === 'LocalDateTime'
					|| col?.type?.name === 'ZonedDateTime'">
					 <input type="text" (input)="myFilter($event, dt, filtercol.field, col?.uiStyles?.attributes?.filterMode, col?.uiStyles?.attributes?.datePattern, col?.type?.name)"> 
					</ng-template>
					<ng-template [ngIf]="col?.type?.name !== 'date' && col?.type?.name !== 'Date' && col?.type?.name !== 'LocalDateTime'
					&& col?.type?.name !== 'ZonedDateTime'">
					<input type="text" (input)="myFilter($event, dt, filtercol.field, col?.uiStyles?.attributes?.filterMode)">
					</ng-template>
				</ng-template> 
				
			</p-column>

			<p-column *ngIf="col?.uiStyles?.attributes?.alias=='LinkMenu'" styleClass="dropdown">
				<ng-template pTemplate="body" let-cell="rowData">
					<nm-action-dropdown [params]="col?.nestedParams" [rowData]="cell" [elementPath]="getRowPath(col, cell)"></nm-action-dropdown>
				</ng-template>
			</p-column>
		</ng-template>
				
		<!-- <ng-template ngFor let-col [ngForOf]="params">
			<ng-template *ngIf="col?.config?.type?.nested" let-subTbl pTemplate="rowexpansion">
				<infinite-scroll-grid
								[data]="col?.config?.gridList"
								[element]="col"
								[params]="col?.config?.gridCols">
				</infinite-scroll-grid>
			</ng-template>
		</ng-template> -->
		
		<p-footer>
			<ng-template [ngIf]="element.config?.uiStyles?.attributes?.postButton">
				<div class="text-sm-left">
					<button (click)="postGridData(this)" type="button" class="btn btn-action post-btn">
						{{element.config.uiStyles.attributes.postButtonLabel}}
					</button>
				</div>
			</ng-template> 
		</p-footer> 
				   
	</p-dataTable>
</div>

<!-- <p-overlayPanel #op>
	<div>
		<ng-template ngFor let-key [ngForOf]="summaryData | keys">
			<div class='d-inline-block mr-3 align-top'>
				<u>{{key.key}}</u> <br> <b>{{key.value}}</b>
			</div>
		</ng-template>
	</div>
</p-overlayPanel> -->
