<div id="{{id}}"  class="scrollGrid" [hidden]="!element?.visible">
    <div class="ui-datatable-header ui-widget-header" *ngIf="element.config?.uiStyles?.attributes?.showHeader == true">
        <p-header>
            <caption>{{label}}</caption>
            <nm-tooltip *ngIf="helpText" [helpText]='helpText'></nm-tooltip>
        </p-header>
        <div class="recordsDisplayed">Showing {{rowStart}}-{{rowEnd}} of {{totalRecords}}
            <button *ngIf="element.config?.uiStyles?.attributes?.clearAllFilters" class="btn-plain ml-2" (click)="clearAll()">
                <i class="fa fa-fw fa-times hidden-md-down" aria-hidden="true"></i>Clear Grid Filters</button>
            <button *ngIf="element.config?.uiStyles?.attributes?.export" class="btn-plain ml-2" (click)="export()">
                <i class="fa fa-fw fa-share hidden-md-down" aria-hidden="true"></i>Export</button>
            <button class="btn-plain ml-2 " (click)="toggleFilter(col?.uiStyles?.attributes?.filter)" title="show grid filters" *ngIf="hasFilters"> 
                <i class="fa fa-fw fa-filter hidden-md-down" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <p-table #dt [value]="value" [columns]="params" 
        [dataKey]="'elemId'"
        [(selection)]="selectedRows"
        [rows]="element.config?.uiStyles?.attributes?.pageSize"
        [totalRecords]=totalRecords
        [paginator]="element.config?.uiStyles?.attributes?.pagination" 
        paginatorPosition="both" 
        [alwaysShowPaginator]="false"
        (sortFunction)="customSort($event)" 
        [customSort]="true" 
        [responsive]="true" 
        (onRowExpand)="onRowExpand($event)"
        (onPage)="paginate($event)"
        (onFilter)="filterCallBack($event)"
        [lazy]=element.config?.uiStyles?.attributes?.lazyLoad
        (onLazyLoad)="loadDataLazy($event)">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 2.25em" *ngIf="element.config?.uiStyles?.attributes?.rowSelection">
                    <!-- <p-tableHeaderCheckbox></p-tableHeaderCheckbox> -->
                    <nm-header-checkbox [dt] = 'dt' [element] = 'element'></nm-header-checkbox>
                </th>
                <th style="width: 2.25em" *ngIf="element?.config?.uiStyles?.attributes?.expandableRows"></th>
                <ng-template ngFor let-col let-colIndex="index" [ngForOf]="params">
                    <th *ngIf="showColumn(col)" [pSortableColumn]="col" [pSortableColumnDisabled]="!col?.uiStyles?.attributes?.sortable" [ngClass]="getColumnStyle(col)">
                        <span *ngIf="showHeader(col)"><nm-th [element]="element" [paramConfig]="col" ></nm-th></span>
                        <p-sortIcon [field]="col" *ngIf="col?.uiStyles?.attributes?.alias === viewComponent.gridcolumn.toString() && col?.uiStyles?.attributes?.sortable !== false"></p-sortIcon>
                    </th>
                </ng-template>
            </tr>
            <tr *ngIf="showFilters">
                <th style="width: 2.25em" *ngIf="element.config?.uiStyles?.attributes?.rowSelection"></th>
                <th style="width: 2.25em" *ngIf="element.config?.uiStyles?.attributes?.expandableRows"></th>
                <ng-template ngFor let-col let-colIndex="index" [ngForOf]="params">
                    <th *ngIf="showColumn(col)">
                        <span *ngIf="col?.uiStyles?.attributes?.filter" [ngClass]="{overflowVisible:isDate(col.type.name)}">
                            <div class="filterHolder" *ngIf="isDate(col.type.name)">
                                <p-calendar #text 
                                    [monthNavigator]="true" 
                                    [yearNavigator]="true" 
                                    yearRange="2000:2030"
                                    [readonlyInput]="true"
                                    [(ngModel)]="filterState[colIndex]"  
                                    (onSelect)="dateFilter($event, dt, col.field, col?.uiStyles?.attributes?.datePattern, col?.type?.name)"> 
                                </p-calendar>
                                <button (click)="clearFilter(text, dt, col.field); filterState[colIndex]=''">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div *ngIf="!isDate(col?.type?.name)" >
                                <div class="filterHolder">
                                <input #text type="text" pInputText [pKeyFilter]="getPattern(col?.type?.name)" [(ngModel)]="filterState[colIndex]" (input)="inputFilter($event, dt, col.field, col?.uiStyles?.attributes?.filterMode)">
                                <button (click)="clearFilter(text, dt, col.field); filterState[colIndex]=''">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <!-- <button class="btn btn-plain filterSubmit" >
                                <i class="fa fa-arrow-right"></i>
                            </button> -->
                          
                        </div>
                    </span>
                    </th>
                </ng-template>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex" let-expanded="expanded">
             <tr [pSelectableRow]="rowData"  [ngClass]="rowIndex % 2 === 0 ? 'even' : 'odd'" > 
                <td *ngIf="element.config?.uiStyles?.attributes?.rowSelection">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>

                <td *ngIf="element.config?.uiStyles?.attributes?.expandableRows">
                    <a href="#" [pRowToggler]="rowData" *ngIf=isRowExpanderHidden(rowData) >
                        <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down ui-row-toggler' : 'fa fa-fw fa-chevron-circle-right ui-row-toggler'"></i>
                    </a>
                </td>

                <ng-template ngFor let-col let-colIndex="index" [ngForOf]="params">
                    <td *ngIf="showColumn(col)" [ngClass]="getColumnStyle(col)">
                        <span title="{{getCellDisplayValue(rowData, col)}}" *ngIf="showValue(col)" [nmDisplayValue]='getCellDisplayValue(rowData, col)' [config]='col'>
                            <span class="fieldValue {{col.code}} {{getCellStyle(rowData.elemId, col.code)}}">{{getCellDisplayValue(rowData, col)}}</span>
                        </span>
                        <span *ngIf="col?.uiStyles?.attributes?.alias == viewComponent.link.toString()">
                            <nm-link
                                [element] = "getViewParam(col, rowData['elemId'])"
                                [rowData]="rowData">                                
                            </nm-link>
                        </span>
                        <span *ngIf="col?.uiStyles?.attributes?.alias == viewComponent.gridcolumn.toString() && col?.uiStyles?.attributes?.showAsLink === true">
                            <nm-link
                                [element] = "getViewParam(col, rowData['elemId'])">
                            </nm-link>
                        </span>
                        <span *ngIf="col?.uiStyles?.attributes?.alias == viewComponent.button.toString()">
                            <nm-button
                                [element] = "getViewParam(col, rowData['elemId'])">
                            </nm-button>
                        </span>
                        <span *ngIf="col?.uiStyles?.attributes?.alias == viewComponent.linkMenu.toString()">
                            <nm-action-dropdown #dropDown [element]="getViewParam(col, rowData['elemId'])" 
                                [params]="col?.type?.model?.paramConfigs" 
                                [rowData]="rowData" 
                                [elementPath]="getRowPath(col, rowData)" 
                                (dropDownClick)="toggleOpen($event)">
                            </nm-action-dropdown>
                        </span>
                    </td>
                </ng-template>
            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-rowData>
            <tr class="ui-expanded-row-content">
                <td [attr.colspan]="columnsToShow" >
                    <nm-section *ngIf="rowData.nestedElement" [position]="position+1" [element]="rowData.nestedElement" [nmPrint]="rowData.nestedElement"></nm-section>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columnsToShow">
                    No records found
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="footer" *ngIf="element.config?.uiStyles?.attributes?.postButton">
            <div class="buttonGroup left">
                <button (click)="postGridData(this)" type="button" class="btn btn-secondary post-btn">
                    {{element.config.uiStyles.attributes.postButtonLabel}}
                </button>
            </div>
        </ng-template>
    </p-table>
</div>
