<div id="gsFlexGrid" class="scrollGrid">
    <div class="ui-datatable-header ui-widget-header" *ngIf="element.config?.uiStyles?.attributes?.showHeader == true">
        <p-header>
            {{label}}
            <nm-tooltip *ngIf="helpText" [helpText]='helpText'></nm-tooltip>
        </p-header>
        <div class="recordsDisplayed">Showing {{rowStart}}-{{rowEnd}} of  {{totalRecords}}
                <button *ngIf="element.config?.uiStyles?.attributes?.clearAllFilters" class="btn-plain ml-2" (click)="clearAll()"><i class="fa fa-fw fa-times hidden-md-down" aria-hidden="true"></i>Clear Grid Filters</button> 
                <button *ngIf="element.config?.uiStyles?.attributes?.export" class="btn-plain ml-2" (click)="export()"><i class="fa fa-fw fa-share hidden-md-down" aria-hidden="true"></i>Export</button>
        </div>
    </div>

    <p-table #dt [value]="value" [columns]="params"
        [(selection)]="selectedRows" 
        [rows]="element.config?.uiStyles?.attributes?.pageSize"
        [paginator]="element.config?.uiStyles?.attributes?.pagination"
        paginatorPosition="both"
        [alwaysShowPaginator]="true"
        (sortFunction)="customSort($event)" 
        [customSort]="true"
        [responsive]="true">

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 2.25em" *ngIf="element.config?.uiStyles?.attributes?.rowSelection">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <ng-template ngFor let-col let-colIndex="index" [ngForOf]="params">
                    <th *ngIf="col.uiStyles.attributes?.hidden == false" [pSortableColumn]="col">
                        <span *ngIf="showValue(col)">
                            {{col.header}}
                            <p-sortIcon [field]="col" *ngIf="col?.uiStyles?.attributes?.sortable !== false"></p-sortIcon>
                            <a href="javascript:void(0)" (click)="toggleFilter(col?.uiStyles?.attributes?.filter)" class='gridFilterIcon' [class.activeFilter]="isActive(colIndex)" *ngIf="col?.uiStyles?.attributes?.filter">F</a>
                        </span>
                    </th>
                </ng-template>
            </tr>
            <tr *ngIf="showFilters">
                <ng-template ngFor let-col let-colIndex="index" [ngForOf]="params">
                    <th *ngIf="col.uiStyles.attributes?.hidden == false">
                        <span *ngIf="col?.uiStyles?.attributes?.filter">
                            <div class="filterHolder" *ngIf="isDate(col.type.name)">
                                <input #text type="text" [(ngModel)]="filterState[colIndex]" (input)="dateFilter($event, dt, col.field, col?.uiStyles?.attributes?.filterMode, col?.uiStyles?.attributes?.datePattern, col?.type?.name)"> 
                                <button (click)= "clearFilter(text, dt, col.field); filterState[colIndex]=''" ><i class="fa fa-times"></i></button>
                            </div>
                            <div class="filterHolder" *ngIf="!isDate(col.type.name)">	
                                <input #text type="text" [(ngModel)]="filterState[colIndex]" (input)="inputFilter($event, dt, col.field, col?.uiStyles?.attributes?.filterMode)">
                                <button (click)= "clearFilter(text, dt, col.field); filterState[colIndex]=''" ><i class="fa fa-times"></i></button>
                            </div>
                        </span>
                    </th>
                </ng-template>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
            <tr>
                <td *ngIf="element.config?.uiStyles?.attributes?.rowSelection">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <ng-template ngFor let-col let-colIndex="index" [ngForOf]="params">
                    <td *ngIf="col.uiStyles.attributes?.hidden == false">
                        <span title="{{getCellDisplayValue(rowData, col)}}" *ngIf="showValue(col)">{{getCellDisplayValue(rowData, col)}}</span>
                        <span styleClass="dropdown" *ngIf="showLinkMenu(col)">
                            <nm-action-dropdown #dropDown [element]="paramState[rowIndex][colIndex]" [params]="col?.type?.model?.paramConfigs" [rowData]="rowData" [elementPath]="getRowPath(col, rowData)" (dropDownClick)="toggleOpen($event)"></nm-action-dropdown>
                        </span>
                    </td>
                </ng-template>
            </tr>
        </ng-template>

        <ng-template pTemplate="footer" *ngIf="element.config?.uiStyles?.attributes?.postButton">
            <div class="buttonGroup left">
                <button (click)="postGridData(this)" type="button" class="btn btn-secondary post-btn">
                    {{element.config.uiStyles.attributes.postButtonLabel}}
                </button>
            </div>
        </ng-template>
    </p-table>
</div>
    