<!-- Display Tiles -->
<nm-message messageContext="{{element?.message.context}}" [messageArray]="element?.message.messageArray" [life]="element?.message.life"  *ngIf="element?.message"></nm-message>

<nm-message messageContext = "GROWL" [messageArray]="errMsgArray" [life]=10000 *ngIf="errMsgArray.length > 0"></nm-message>

<ng-template [ngIf]="element?.visible">
    <ng-template [ngIf]="element?.config?.labelConfigs?.length > 0">
        <h1 class="page-title {{imgSrc}} ">
            {{label}}
        </h1>
    </ng-template>

    <nm-tile [element]="tile" *ngFor="let tile of tilesList"></nm-tile>
</ng-template>

