<div class="header">
	<nm-link [element]="branding.logo" *ngIf="branding.logo"></nm-link>        
    <div class=" productName d-inline-block ml-2 pt-1">
		<div class="sizeTarget">
            <nm-link [element]="branding.title" *ngIf="branding.title"></nm-link>
        </div>
    </div>
    <div class="headerMenu hidden-sm-down col-sm-6 col-md-7 col-xl-8 pull-right">
        <div class="btn-group pull-right" *ngFor="let menuItem of topMenuItems">
            <nm-link [element]="menuItem"></nm-link>
        </div>      
    </div>
</div>

<!-- Everything after header -->
<div class="wrapper no-sidebar">
	<div class="main-content" >
		<router-outlet></router-outlet>
		
		<div id="footer" *ngIf="footer">
        	<p class="">
        		<nm-paragraph [element]="footer.version" *ngIf="footer.version"></nm-paragraph>  |  
        		<nm-paragraph [element]="footer.copyright" *ngIf="footer.copyright"></nm-paragraph>  |  
        		<nm-link [element]="footer.sslCert" *ngIf="footer.sslCert"></nm-link> 
        	</p>
        </div>
	</div><!--  END main-content  -->
</div><!--  END wrapper  -->
