*.DS_Store
*/nimbusui/package.json.lock
*/**/*.log
*/target/
*/bin/
/.metadata/
/.swp
*/.settings
.factorypath
.idea/
*.iml
.project
.classpath
*/nimbusui/node
*/nimbusui/node_modules
*/nimbusui/dist
*/nimbusui/etc
