*.DS_Store
*/nimbusui/package.json.lock
*/**/*.log
*/target/
*/bin/
/.metadata/
/.swp
*/.settings
.factorypath
.idea/
*.iml
.project
.classpath
*/nimbus-ui-app/node
*/nimbus-ui-app/node_modules
*/nimbus-ui-app/dist
*/nimbusui/node
*/nimbusui/node_modules
*/nimbusui/dist
*/nimbusui/etc
/nimbus-ui-app/dist
/nimbus-ui-app/etc
/nimbus-ui-app/node
/nimbus-ui-app/node_modules