<div class="col-sm-12 mb-1 {{cssClass}}" *ngIf="element.config.uiStyles.attributes.type==componentTypes.divider.toString()">
</div>
<div [ngClass]="getComponentClass()" *ngIf="element.config.uiStyles.attributes.type==componentTypes.field.toString()">
    <ng-template [ngIf]="!element.config?.uiStyles?.attributes?.imgSrc && element?.visible == true">
        <ng-template [ngIf]="element.config.uiStyles.attributes.inplaceEdit">
            <inplace-editor [element]="element"></inplace-editor>
        </ng-template>
        
        <ng-template [ngIf]="isDate(element.config.type.name)">
            <nm-input-label *ngIf="element.config.uiStyles.attributes.showName==true"
                [element]="element" 
                [required]="false">
            </nm-input-label>
            <!--<label class="" *ngIf="element.config.uiStyles.attributes.showName==true">{{label}}</label>-->
            <ng-template [ngIf]="value">
                <div class="textWrapBreakWord">{{value | dateTimeFormat: element.config?.uiStyles?.attributes?.datePattern : element.config.type.name }}&nbsp;</div>
            </ng-template>
            <ng-template [ngIf]="!value">
                <div class="textWrapBreakWord">{{placeholder}}&nbsp;</div>
            </ng-template>
         </ng-template>

        <div class="form-group" *ngIf="!element.config.uiStyles.attributes.inplaceEdit && !isDate(element.config.type.name)">
           <!-- <label class="" *ngIf="element.config.uiStyles.attributes.showName==true">{{label}}</label> -->
           <nm-input-label *ngIf="element.config.uiStyles.attributes.showName==true"
                [element]="element" 
                [required]="false">
            </nm-input-label>
            <div class="textWrapBreakWord" [nmDisplayValue]='element.leafState' [config]='element.config'>
                <span class="fieldValue">{{value ? value : placeholder}}&nbsp;</span>
            </div>    
        </div>
    </ng-template>
</div>
