.ui-accordion {
    .ui-accordion-header {
        background: #669fe2;
        border: 1px solid #669fe2;
        &.ui-state-default.ui-corner-all.ui-state-active {
            background: #669fe2;
        }
    
        a {
            color: #fff;
            .ui-accordion-toggle-icon {
                font-size: 1.5rem;
                line-height: 1;
                margin-top: -4px;
            }
        }
    }
    .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
        background: #669fe2;
        a{
            color: #fff;
        }
    }
    .ui-accordion-content-wrapper {
        border: 1px solid #669fe2;
        margin-bottom: 1rem;
        padding: 0.1rem;
        &.ui-accordion-content-wrapper-overflown {
            padding: 0;
        }
    }
    .ui-accordion-content{
        padding:0;
    }
    
}

.accordionBtn { position: absolute;top: 0.2rem;right: 1rem; }   
.accordionBtn .btn-plain:hover { color: white;text-decoration: underline; }
 p-accordiontab {position: relative; display: block; }