.action-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
    .dropdownTrigger {
        width: 1.3rem;
        height: 1.3rem;
        padding: 0;
        //border: 1px solid #ccc;
        background: $primary-5;
        line-height: 1;
        &:disabled {
            background-color: $secondary-4;
        }
        &::after {
            color: #fff;
            font-family: "fontAwesome";
            content: "\f0d7";
            font-size: 1.2rem;
            line-height: 1;
        }
        &:hover:not(:disabled), &:focus:not(:disabled){
            background-color: #4a90e2;
        }
    }
    .dropdownContent {
        max-height: 0;
        width: 200px;
        background: $tertiary-6;
        border: 1px solid $primary-5;
        overflow-y: auto;
        top: 0;
        position: absolute;
        z-index: 2;
        right: 100%;
        padding: 0;
        a {
            display: block;
            text-decoration: none;
            padding:.2rem .4rem;
            color:  #222222;
            &:hover:not(.disabled), &:focus:not(.disabled){
                color: #fff;
                background: #4a90e2;
            }
            &.disabled {
                color: $secondary-4;
                cursor: default;
            }
        }
    }
    
}


.ui-table .ui-table-data > tr > td.dropdown,
.ui-datatable .ui-datatable-data > tr > td.dropdown {
    padding-top: 7px;
    padding-bottom: 0;
}
.ui-table .ui-table-thead > tr > th, 
.ui-table .ui-table-tfoot > tr > td, 
.ui-table .ui-table-data > tr > td,
.ui-datatable .ui-datatable-thead > tr > th, 
.ui-datatable .ui-datatable-tfoot > tr > td, 
.ui-datatable .ui-datatable-data > tr > td {
    padding: .5rem .4rem;
}