.ui-accordion {
    .ui-accordion-header {
        background: $primary-2;
        border: 1px solid $primary-2;
        &.ui-state-default.ui-corner-all.ui-state-active {
            background: $primary-2;
        }
    
        a {
            color: #fff;
            .ui-accordion-toggle-icon {
                font-size: 1.5rem;
                line-height: 1;
                margin-top: -4px;
            }
            h2, h3, h4, h5, h6 {
                font-size: 1rem;
                display: inline-block;
            }
        }
    }
    .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
        background: $primary-2;
        a{
            color: #fff;
        }
    }
    .ui-accordion-content-wrapper {
        border: 1px solid $primary-2;
        margin-bottom: 1rem;
    }
  
}

.accordionBtn { position: absolute;top: 0.2rem;right: 1rem; }   
.accordionBtn .btn-plain:hover { color: white;text-decoration: underline; }
 p-accordiontab {position: relative; display: block; }

 .nm-accordion-headertext {
    float: right;
 }

 .nm-accordion-headerimage {
    float: right;
 }

 .nm-accordion-headerlabel {
    color: #fff;
 }

 p-accordiontab p-header {
     @extend .clearfix;
 }