button:focus{
  outline: $focus-outline-setting;
}
.buttonGroup{
  padding: 1rem 0 0;
  &.left{
    @extend .text-sm-left;
  }
  &.center{
    @extend .text-sm-center;
  }
  &.right, &.text-sm-right{
    @extend .text-sm-right;
    padding: 0;

  }
  &.inline{
    display: inline-block;
    padding-top: 2rem;
  }
}

.btn-primary {
  background: #e5991c;
  border-color: #e5991c;
  color:#fff;
  line-height: 1;
  margin-right: 9px;
  margin-left: 9px;
  margin-bottom: 1rem;
  padding: .6rem 1.4rem;
  border-radius: .5rem;
  &:hover:not([disabled]){
    background-color: #669fe2;
    border-color: #669fe2;
  }
  &:active:not([disabled]),
  &.active:not([disabled]){
    background-color: #669fe2;
    border-color: #669fe2;
  }
  &[disabled]{
    background-color: #b9b6b6;
    border-color: #b9b6b6;
  }
}
.btn-secondary {
  background: #707070;
  border-color: #707070;
  color:#fff;
  line-height: 1;
  margin-right: 9px;
  margin-left: 9px;
  margin-bottom: 1rem;
  padding: .6rem 1.4rem;
  border-radius: .5rem;
  &:hover:not([disabled]){
    background-color: #94acbc;
    border-color: #94acbc;
  }
  &:active:not([disabled]),
  &.active:not([disabled]){
    background-color: #94acbc;
    border-color: #94acbc;
  }
  &[disabled]{
    background-color: #b9b6b6;
    border-color: #b9b6b6;
  }
}
.ui-datatable-header .btn-plain{
  
  &:hover{
    text-decoration: none;
  }
 .fa-fw {
    font-size: 1rem;
    padding-top: .1rem;
}
}
.btn-plain .fa-fw {
  width: 1.28571429em;
  text-align: center;
  margin-right: .3rem;
  font-size: 1.3rem;
}

.dropdown-menu {
  margin-top: 0;
}

.btn-expand {
  @extend .btn-plain;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

.btn-pipe {
  display: inline-block;
  vertical-align: baseline;
}

.btn-plain {
    border-width: 0px;
    background: none;
    text-transform: initial;
    text-decoration: underline;
      color:#006bc2;
    line-height:1.5;
    &:hover,
    &:active,
    &.active{
      color: #e5991c;
      background: none;
    }
    &:focus{
      outline: $focus-outline-setting;
    }
}





.btn.btn-icon, .icon-holder {
    padding: 0;
    background: transparent;
    svg {
      width: 2rem;
      height: 2rem;
      fill: white;
      stroke: #999;
      stroke-width: .5;
  }
  &.green, &.edit {
    svg{
      fill: white;
      stroke: $goGreen;
    }
    &:hover  svg {
    fill: $goGreen;
      stroke: #fff;

  }
  }
   &.blue {
    svg{
      fill: white;
      stroke: $header-bkg;
    }
    &:hover  svg {
      fill: $mecury;

    }
  }
}



.fa-icon-link {
  position:relative;
  display: inline-block; 
  text-shadow: none;
  font-size: .9rem;
  text-decoration: none;
  color: #fff;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
 padding:6px;

  
  .tag {
    background-color: transparent;
    position: absolute;
    right:2px;
    top:0;
    border: .1rem solid white;
    border-radius: 50%;
    min-width: 1.1rem;
    min-height: 1.1rem;
    line-height: 1;
    text-align: center;
    color: #fff;
    font-weight: 100;
    padding: .1rem .3rem 0rem;
    z-index: 1;
  

  }
  i {
      font-size: 30px;
  }
  &:hover,
  &.active {
      color: #014c8c;
      .tag{
        border-color: #034b7c;
        background-color: #fff;
        color: #034b7c;
        font-weight: 600;
        font-size: 1rem;
        padding-top: 0;
        padding-bottom: .1rem;
        right:0;
      }
  }
  &::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 36px;
  }
  &.alerts{
    &::before {
      content: "\f0f3";
      transform: rotate(-15deg);
    }
  }
  &.settings{
    &::before {
      content: "\f013";

    }
  }
}