.displayNone{display:none;}
.underline { 
    border-bottom: 2px solid #000;
    padding: 10px;
    font-weight: bold;
}
* {
    vertical-align: top;
}
//type styles from style guide
.head-2 {
    font-size: 18px;
    font-weight: 600;
    line-height:1;
}
.head-3 {
    font-size: 18px;
    font-weight: 400;
    line-height:1;
}
.body-1 {
    font-size: 12px;
    font-weight: 300;
    line-height:1;
}

.body-10 {
    font-size: 18px;
    font-weight: 300;
    line-height:1;
}
h1{
    font-size: 1.3rem;
}
h2{
    font-size: 1.2rem;
}
h3{
    font-size: 1.1rem;
}
// .col-xs-12.smallCardCenter {
//     text-align: right;
//     padding: 0 70px 30px;
// }
// .smallCard,
// .XsmallCard {
//     button{
//         display: block;
//     }
//     .card-title {
//         text-align: center;
//     }
// }
h1.page-title {
    margin-bottom:0; 
    margin-left:20px; 
    font-size: 1.3rem;
    font-weight: 400;
    &.dashboard::before{
        color: $iconColor;
        font-family: fontAwesome;
        content: "\F080";
        margin-right: .3rem;
    }
}
.memberSearchIcon::before{
    color: $iconColor;
    font-family: fontAwesome;
    content: "\F002";
    margin-right: .3rem;
}
.caseSearchIcon::before{
    color: $iconColor;
    font-family: fontAwesome;
    content: "\F002";
    margin-right: .3rem;
}
.caseIcon::before{
    color: $iconColor;
    font-family: fontAwesome;
    content: "\F2bc";
    margin-right: .3rem;
}
.taskIcon::before{
    color: $iconColor;
    font-family: fontAwesome;
    content: "\F0ae";
    margin-right: .3rem;
}
.filterIcon::before{
    color: $iconColor;
    font-family: fontAwesome;
    content: "\F0b0";
    margin-right: .3rem;
}

.col-xs-12 {
    margin: 0 0; //override correction for inline-block fix
}
.wrapper {
    min-height: 700px;
    //max-width: 1280px;
    margin: auto;
}

.main-content{
        padding:0;
    }

.breadcrumb-bar{ 
    padding: 0.5rem;
    height: $breadcrumb-height;
    background: #fff;
}
.info-bar{ 
    display: block; 
    background-color: $header-bkg; 
    color:#fff; 
    font-size: 0.8rem;
    min-height: $infoBar-height;
    padding: .6rem 0;
    margin-bottom: 10px;
}

.colorBox {
    padding:1rem;
    border: 1px solid #bbd3e8;
    background: #edf7ff;
     margin-bottom: 1.5rem;
    // margin-left: 2rem;
    .colorBox {
        border: none;
    }
}
.panel-body {
    background: #fff;
    border: 1px solid #bbd3e8;
}
.panel-body .colorBox {
    background: none;
    border: none;
}
.card-holder {
    position:relative;
    vertical-align: top;
    margin-bottom:10px;
    padding: 0;
    .card-header{
        margin-bottom: .3rem;
        padding: .5rem;
        color: #fff;
        background: $header-bkg;
        h2.card-title {
            font-size: 1.2rem;
        }
    }

    .card-block {
        margin: 0;
    }
    .viewport {
        padding: 10px 10px 0 10px;
    } 
}   
.card-holder > .card{
    &.height-sm {
        min-height:180px;
    }
    &.height-md {
        min-height:385px;
    }
    &.height-lg {
        min-height:650px;
    }
}


.info-card {
    display: inline-block;
    width: 86%;
   
}

.textWrapBreakWord {
    word-break: break-word;
    font-weight: bold;
}

nm-card-details {
    &:nth-child(even){
        .bg-alternate .cardBody{
            background-color: $bg-alternate-color-even;
        }
    }
    &:nth-child(odd){
        .bg-alternate .cardBody{
            background-color: $bg-alternate-color-odd;
        }
    }
}


.XsmallCard {
    margin-left: 2rem;
    .card-header {
        margin: 0;
    }
    .card-block {
        padding: 0;
        .viewport {
            padding: 0;
        }
    }
    .colorBox {
        margin: 0;
    }
}
// for assessment questions
.subQuestion .subQuestion .col-lg-12 {
    padding-right: 0px;
}
legend {
    font-size: 1rem;
}
.subQuestion {
    margin-bottom: 0.5rem;
    .col-lg-12:first-of-type{
        padding-left: 0;
    }
    .form-group.questionGroup  {
        background: #edf7ff;
        display: block;
        padding: .3rem .7rem .8rem;
        margin: 0 100px 0 0px;
        label:first-of-type {
            margin-top: 0;
        }
        input, .select-wrapper, textarea {
            max-width: 300px;
            width: 100%;
            margin-left: 0;
        }
    }
    legend:first-of-type {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
}

.form-group.questionGroup  {
    margin-bottom: 2.5rem;
    label {
        display: block;
        margin: .3rem 0;
        &.ui-chkbox-label,
        &.ui-radiobutton-label {
            display: inline-block;
        }
    }
    .form-checkrow label, .form-checkrow label:first-of-type {
        margin-bottom: 0;
    }
    .ui-dropdown label:first-of-type, .ui-dropdown label {
        margin: 1px 0 0 0;
    }
    input, .select-wrapper, textarea {
        //margin-left: 50px;
        margin-bottom: .6rem;
        max-width: 300px;
        width: 100%;
    }
    .ui-calendar input { 
        width: 180px; 
    }
    //.date-holder is old date component
    .date-holder::after {
        vertical-align: text-bottom;
    }
    .date-holder input {
        width: 180px;
    }
    label:first-of-type,
    legend:first-of-type {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
    fieldset {
        label:first-of-type {
            margin-top: 0;
        }
        .checkboxHolder {
            padding-left: 0px;
        }
    }
    .warningMsg {
        margin-left: 0px;
    }
}
.iconField {
    &::after {
        background-size: 28px 28px;
        background-repeat: no-repeat;
        width: auto;
        height: 28px;
        display: inline-block;
        content: '';
        padding: 0 0 0 32px;
        vertical-align: bottom;
    }
}
//.date-holder is old date component

.date-holder {
    @extend .iconField;
    &::after {
        background-image: url('icons/calendar-small.png');
    }
    input{
        display: inline-block;
        width: 180px;
    }
    label {
        display: block;
    }
}





.editIcon::before {
    // font-family: "fontAwesome";
    // content:"\f040";
    content:"";
    display:block;
    background-image: url('icons/edit.png');
    background-size: 30px 30px;
    height:30px;
    width:30px;
}
.toggleIcon::before {
    // font-family: "fontAwesome";
    // content:"\f040";
    content:"";
    display:block;
    background-image: url('icons/open-accord.png');
    background-size: 30px 30px;
    height:30px;
    width:30px;
}








.nav-block{
    
    .nav-link{
        display: block;
        padding: .4rem;
        background: #d9edfd;
        color: #4c4c4c;
        border: 1px solid #B8D4E8;
        margin-bottom: 3px;
        &.active,
        {
            background: #e5991c;
            border-color: #e5991c;
            color: #fff;

        }
        &:hover{
            background: #4c4c4c;
            border-color: #4c4c4c;
            color: #fff;
        } 
        &.disabled,&.disabled:hover{
            background: #999;
            color: #fff;
        } 
    
        &.toggle.collapsed:after {
            content: "▾";
            margin-left:8px;
        }
        &.toggle:not(.collapsed):after {
            content: "▴";
            margin-left:8px;
        }
    }
}


.topRight{
    top:1rem;right:1rem;position:absolute;
}


.border-all{
    border: 1px solid $border-color-dark;
}.border-right{
    border-right: 1px solid $border-color-dark;
}.border-top{
    border-top: 1px solid $border-color-dark;
}.border-left{
    border-left: 1px solid $border-color-dark;
}.border-bottom{
    border-bottom: 1px solid $border-color-dark;
}
.checkBoxCard{
    border: 1px solid #000;
    position: relative;
    display: table;
    width: 100%;
    .upper,
    .lower{
        height: 50px;
        overflow: hidden;
        display: table-row;
        span{
            padding: 0 80px 0 10px;
            display: table-cell
        }
    }&.checked{
        .box{
            .check{
                display: block;
            }
        }
    }.upper{
        background-color: #cecece;
        font-size: 1.2rem;
        font-weight: bold;
    }.lower{
        background-color: #f0f0f0;
    }.box{
        font-family: 'LucidaGrande','LucidaGrande';
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
        border: 1px solid #999;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 35%;
        right: 40px;
        background: #fff;
        .check{
            position: absolute;
            line-height: .3;
            display: none;
        }
    }
}




//accordion styles
.panel.panel-default {
    margin-top: 10px;
    & > .panel-heading {
        background: $header-bkg;
        color: white;
        padding: 0.3rem;
        margin: 0;
        font-weight: 300;
        position: relative;
        h2{
            margin-bottom: 0;
        }
        button {
            all: inherit;
            width:100%;
            cursor: pointer;
            &::before{
                font-family: "FontAwesome";
                content: "\f0da";
                margin-right: .9rem;
                transition: transform 400ms;
                display: inline-block;
            }
        
            &:focus,&:hover{
                &::before{
                    color: #999;
                }
            }
        }
        .leftElement{
            margin-left: 1rem;
            font-size: .9rem;
            font-weight: 200;
        }
        .rightElement{
            position:absolute;
            right: 6px;
            top: 3px;
            font-size: .9rem;
        }
    }
    .panel-collapse {
        padding-left: 50px;
        overflow: hidden;
        //display: block;
        padding-left: 0px;
    }
    &.openPanel {
        & > .panel-heading {
            button::before {
                //content: "\f0d7"; 
                transform: rotate(90deg);
            }
        } 
        .panel-collapse { 
            overflow: visible; 
        }              
    }
}







.editTarget[disabled] {
    border: none;
    background: none;
    padding-left: 0;
}
.editForm{
    .form-control{
        border: none;
        background: none;
        padding-left: 0;
    }
}
.text-bold { 
    font-weight: bold;
}


// screen breaks below 
html {font-size: 12px;}
@media(min-width: 576px) {
    .navbar-toggleable-md .navbar-collapse {
        z-index: 1;
        position: absolute;
        width: 400%;
        top: 4px;
        left: 70px;
    }

    .main-content{
        .info-bar{ 
            &> div:first-child { 
                border-right: 1px solid #fff;
                border-bottom: 0 solid #fff;
            }
        }
    }

    .globalNav{
        display: block;
    }
}

.navbar-toggleable-md .navbar-collapse {
    width: 350px;
}
@media(min-width: 768px) {
    .header {
        height: 80px;
    }
       
  
    .logo {
        margin-left: 10px;
        margin-top: 15px;
    }
    .navbar-toggleable-md .navbar-collapse {
        width: 300px;
    }
}

@media (min-width: 992px) {
    html {font-size: 14px;}
    //nav bar hiding methods...  
    .navbar-toggleable-md .navbar-toggler {
        display: none;
    }
    .navbar-toggleable-md .navbar-collapse {
        display: block;
        width: 100%;
        position: static;  
    }
  
  
    .section-nav{
        width: $section-nav-width;
    }
    .header {
        height: 90px;
    }
}

@media (min-width: 1200px) {
  
} 
@media (min-width: 1300px) {
    html {font-size: 16px;}
    .header {
        height: 100px;
    }

}
