
canvas.form-control {
    width: inherit;
}
.displayNone{display:none;}
.underline {
    border-bottom: 2px solid #000;
    padding: 10px;
    font-weight: bold;
}
body{color:#4c4c4c;}
* {
    vertical-align: top;
}
.text-bold {
    font-weight: bold;
}
.ui-table .ui-table-thead > tr > th > span.overflowVisible,.overflowVisible {
    overflow: visible;
}
html {
    font-size: 12px;
    line-height: 15px;
    color: #4c4c4c;
}
//type styles from style guide

h1{
    font-size: 1.43rem;
    line-height: 1.75rem;
    font-weight: normal;

}
h2{
    font-size: 1.28rem;
    line-height: 1.6rem;
    font-weight: bold;
}
h3{
    font-size: 1.14rem;
    line-height: 1.75rem;
    font-weight: bold;

}
// .col-xs-12.smallCardCenter {
//     text-align: right;
//     padding: 0 70px 30px;
// }
// .smallCard,
// .XsmallCard {
//     button{
//         display: block;
//     }
//     .card-title {
//         text-align: center;
//     }
// }
.message {
    text-align: center;
    margin: 0 0 .6rem 0;
    font-weight: bold;
    &::before {
        font-family: "fontAwesome";
        margin-right: 0.9rem;
        font-size: 2rem;
    }
    &.DANGER {
        background: #e9a129;
        color: #ae0015;
        &::before {
            content: "\f00d";
        }
        .closeIcon {

            &:hover, &.btn-plain:focus{
                color:#FFF;
            }           
        }
    }
    &.SUCCESS {
        background: #e6f6d4;
        color: #5aa00d;
        &::before {
            content: "\f00c";
        }
    }
    &.INFO {
        background: #EBEBEB;
        color: #014B87;
        &::before {
            content: "\f129";
        }
    }
    &.WARNING {
        background: #FCF6D9;
        color: #E5991C;
        &::before {
            content: "\f12a";
        }
    }
}

.closeIcon {
    float: right;
    margin-right: 20px;
    margin-top: 3px;
    color: #4C4C4C;
    text-decoration: none;
    &::before{
        font-family: "fontAwesome";
        content: "\f057";
        font-size: 1.5rem;
                
    }
    &:hover, &.btn-plain:focus{
        outline: none;
        color: inherit;
    }
    

}
.info-card h1.page-title {
    @extend .sr-only;
}

h1.page-title {
    margin-bottom:0;
    font-size: 1.3rem;
    margin-left:10px;
    font-weight: 400;
    &::before{
        font-size: 1.9rem;
        color: $iconColor;
        font-family: fontAwesome;
        margin-right: .3rem;
    }
    
}


.CmDashIcon::before{
    content: "\F080";
}
.SupDashIcon::before{
    content: "\f0ce";
}
.planOfCareIcon::before{
    content: "\f12e";
}
.notesIcon::before{
    content: "\f03a";
}
.correspondenceIcon::before{
    content: "\f08b";
}
.documentsIcon::before{
    content: "\f0c5";
}
.caseHistoryIcon::before{
    content: "\f0ea";
}
.authorizationsIcon::before{
    content: "\f0ec";
}
.assessmentsIcon::before{
    content: "\f15c";
}
.memberSearchIcon::before{
    content: "\F002";
}
.memberOverviewIcon::before{
    content: "\f0c0";
}
.caseSearchIcon::before{
    content: "\F002";
}
.caseIcon::before{
    content: "\F2bc";
}
.tasksIcon::before{
    content: "\f039";
}
.filterIcon::before{
    content: "\F0b0";
}
.clinicalInfoIcon::before{
    content: "\F0fa";
}
.col-xs-12 {
    margin: 0 0; //override correction for inline-block fix
}
.wrapper {
    min-height: 700px;
    //max-width: 1280px;
    margin: auto;
}

.main-content{
        padding:0;
    }

.breadcrumb-bar{
    padding: 0.5rem;
    height: $breadcrumb-height;
    background: #fff;
    .breadcrumb-item{
        font-size: 1rem;
    }
    .breadcrumb-item + .breadcrumb-item::before{
        padding-right: .3rem;
    }
    .breadcrumb-item:last-child > a {
        text-decoration: none;
        color: #669FE2;
        font-weight: bold;
    }
}
.info-bar {
    display: block;
    background-color: #d9edfd;
    color: #4c4c4c;
    font-size: 0.8rem;
    min-height: 60px;
    padding: .6rem 0;
    margin: 0 20px 10px;
    border: 1px solid #9dd3f7;
     div.text-bold:nth-child(1) {
         nm-subheader:nth-child(1) {
            font-size: 1.1rem;
         }
     }
}
.colorBox {
    padding:1rem;
    border: 1px solid #bbd3e8;
    background: #edf7ff;
     margin-bottom: 1.5rem;
    // margin-left: 2rem;
    .colorBox {
        border: none;
        padding: 0;
    }
}
.panel-body {
    background: #fff;
    border: 1px solid #bbd3e8;
}
.panel-body .colorBox {
    background: none;
    border: none;
}
.card-holder {
    position:relative;
    vertical-align: top;
    margin-bottom:10px;
    padding: 0;
    .card-header{
        margin-bottom: .3rem;
        padding: .5rem;
        color: #fff;
        background: $header-bkg;
        h2.card-title {
            font-size: 1.2rem;
        }
    }

    .card-block {
        margin: 0;
        padding: 0;
    }
    .viewport {
        padding: 0 10px ;
    }
}  
.card-holder > .card{
    &.height-sm {
        min-height:180px;
    }
    &.height-md {
        min-height:385px;
    }
    &.height-lg {
        min-height:650px;
    }
}


.info-card {
    display: inline-block;
    width: 82%;
}
.ui-dialog .ui-dialog-titlebar-close span {
    font-size: 1.5rem;
}
.ui-widget-header.ui-dialog-titlebar{
        text-align: left;
}
.ui-widget {
    font-family: "Lucida Sans Unicode", "Lucida Grande", san-serif;
    font-size: 1rem;
}
.ui-widget-content a {
    color: #0275d8;
}
.ui-datepicker.ui-widget-content a {
    color: #696b6c;
}
.textWrapBreakWord {
    word-break: break-word;
    font-weight: bold;
}

nm-card-details {
    &:nth-child(even){
        .bg-alternate .cardBody{
            background-color: $bg-alternate-color-even;
        }
    }
    &:nth-child(odd){
        .bg-alternate .cardBody{
            background-color: $bg-alternate-color-odd;
        }
    }
}
//to make values bold in card-detail component
nm-card-details-field label+div {
    font-weight: bold;
}

.XsmallCard {
    margin-left: 2rem;
    .card-header {
        margin: 0;
    }
    .card-block {
        padding: 0;
        .viewport {
            padding: 0;
        }
    }
    .colorBox {
        margin: 0;
    }
}
// for assessment questions
.subQuestion {
    margin-bottom: 2.5rem;
    padding: 1rem;
    background: #edf7ff;
}
.subQuestion .subQuestion {
    margin-left: 1rem;
    margin-bottom: 0;
}
.subQuestion .colorBox {
    margin-bottom: 0;
}
.subQuestion .subQuestion .col-lg-12 {
    padding-right: 0px;
}
legend {
    font-size: 1rem;
}
.subQuestion {
    .col-lg-12:first-of-type{
        padding-left: 0;
    }
    .form-group.questionGroup  {
        background: #edf7ff;
        display: block;
        padding: .3rem .7rem .8rem;
        margin: 0 100px 0 20px;
        label:first-of-type {
            margin-top: 0;
        }
        input, .ui-dropdown, textarea {
            max-width: 300px;
            width: 100%;
            margin-left: 0;
            margin-left: 20px;
        }
    }
    legend:first-of-type {
        margin-bottom: .5rem;
    }
} 

/* QUESTION WRAPPER */

$questionWidth:40%;
$answerWidth: 99%-$questionWidth;


.questionWrapper{
  padding:6px 0;
  margin-left:20px;
  font-size: .9rem;
  &:not(:last-child){
      border-bottom: 1px dashed #333;
    }
    legend {
      width: $questionWidth;
      float:left;
      font-size: inherit;
      
    }
    .form-control {
      display: inline-table;
      table-layout: fixed;
      border-width: 0;
      padding-top: 0;
      padding-bottom: 0;
      width: $answerWidth; 
      font-size: inherit;
        label {
          padding: 5px 5px 5px 35px;
          text-indent:-25px;
          display:table-cell;
          &:hover{
            color:#efcfcf;
            }
          input {
            margin-right:10px;
          }
        }
    }
    &.colHeader{
      padding:2px 0;
      border-bottom: 1px solid #333;
        legend{
          font-weight:bold;
        }
         label {
          font-weight:bold; 
          text-indent:0;
          padding-left:0;
          vertical-align:bottom;
        }
    }
}

/* QUESTION WRAPPER */

$questionWidth:40%;
$answerWidth: 99%-$questionWidth;
.form-grid.headerRow fieldset .checkboxHolder .form-checkrow .ui-widget {
    display: none;
}
.form-grid.headerRow fieldset .checkboxHolder .form-checkrow label {
    display: block;
    font-weight: bold;
}
.form-grid.headerRow legend {
    visibility: hidden;
}
.form-grid .questionGroup {
    border-bottom: 1px dashed;
}
.form-group.form-grid.questionGroup.headerRow {
    border-bottom: 1px solid;
    padding-bottom: 0;
    margin-bottom: .6rem;
}
.form-grid fieldset{
  padding:0;
  font-size: .9rem;
  legend {
    width: $questionWidth;
    float:left;
    
  }
  .checkboxHolder {
    display: inline-table;
    table-layout: fixed;
    width: $answerWidth; 
    .form-checkrow{
            display: inline-block;
            width: 20%;
            label{
                display: none;
            }
       
    }
  }
  &.form-group.questionGroup {
        padding: 0;
        margin: 0 20px;
    }
}
.form-group.questionGroup.form-grid {
    margin-bottom: .2rem;
}

.form-grid.headerRow fieldset .checkboxHolder .form-checkrow {
    vertical-align: bottom;
}


.ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title {
    margin-left: 1rem;
}
.ui-dialog.ui-widget .ui-dialog-titlebar {
    padding: .5rem;
    border-radius: 0;
}
.ui-dialog .ui-dialog-titlebar-close span::before{
    content: "\f057";
    color: #fff;
}
.ui-dialog .ui-dialog-titlebar-icon:hover .fa-close:before {
    color: #6e9de1;
}
.section-nav{
   .nav-link::before{
        color: inherit;
    }
   
}
.ui-dialog .colorBox {
    background: none;
    border: none;
}
.form-group.questionGroup  {
    margin-bottom: 2.5rem;
    label {
        display: block;
        margin: .3rem 0;
        max-width: 850px;
        &.ui-chkbox-label,
        &.ui-radiobutton-label {
            display: inline-block;
        }
    }
    .form-checkrow label, .form-checkrow label:first-of-type {
        margin-bottom: 0;
    }
    .ui-dropdown {
        margin-left: 20px;
         label:first-of-type, 
         .ui-dropdown label {
            margin: 1px 0 0 0;
        }
    }
    input {
        margin-left: 20px;
        max-width: 300px;
        width: 90%;
    }
    textarea {
        margin-left: 20px;
        max-width: 800px;
        width: 90%;
    }
  
   
    //.date-holder is old date component
    .date-holder::after {
        vertical-align: text-bottom;
    }
    .date-holder input {
        width: 180px;
    }
    label:first-of-type,
    legend:first-of-type {
        margin-bottom: .5rem;
    }
    fieldset {
        label:first-of-type {
            margin-top: 0;
        }
        .checkboxHolder {
            padding-left: 20px;
        }
    }
    .warningMsg {
        margin-left: 0px;
    }
}

.ui-messages .fa-2x {
    font-size: 1.3rem;
}
.form-group .ui-messages-error, .form-group .ui-messages-warn {
    background: none;
    border: none;
    padding: 0;
    margin-left: 20px;
}
.ui-messages-warn {
    color: #e5991c;
}
.ui-messages-error{
    color: #a94442;
    .fa-close::before{
        content:"\F071";
    }
}
.iconField {
    &::after {
        background-size: 28px 28px;
        background-repeat: no-repeat;
        width: auto;
        height: 28px;
        display: inline-block;
        content: '';
        padding: 0 0 0 32px;
        vertical-align: bottom;
    }
}
.ui-datepicker {
.ui-widget-content a{
        color: #696b6c;
    }
}
.ui-state-default {
    border: 1px solid #b9b6b6;
}
.ui-inputtext:enabled:hover {
    border-color: #9dd3f7;
}
.ui-dropdown:not(.ui-state-disabled):hover {
    border-color: #9dd3f7;
}
.ui-widget-header.ui-datepicker-header {
    background: #c8e3f6;
    color: #494949;
    a {
        color: #494949;
        font-size: 1.5rem;
        height: 1.8rem;
    }
       
}
.ui-datepicker-prev span, 
.ui-datepicker-next span{
    color: #006bc2;
}

.ui-datepicker.ui-widget .ui-datepicker-calendar thead th {
    background-color: #ebebeb;
}
button.ui-datepicker-trigger.ui-calendar-button {
    border: none;
    background: none;
    color: #2399e5;
    font-size: 1.7rem;
    width: 2.5rem;
  }
  .ui-widget.ui-button:enabled:hover, 
  .ui-widget.ui-button:focus{
    border: none;
    background: none;
    color: #4c4c4c;
  }
  .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight {
    background-color: #006bc2;
    color: #fff;
}
  .ui-datepicker .ui-datepicker-calendar td:not(.ui-state-disabled) a:hover,
  .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
    border-color: #e5991c;
    background: #e5991c;
    color: #fff;
}

//.date-holder is old date component

.date-holder {
    @extend .iconField;
    &::after {
        background-image: url('icons/calendar-small.png');
    }
    input{
        display: inline-block;
        width: 180px;
    }
    label {
        display: block;
    }
}





.editIcon::before {
    // font-family: "fontAwesome";
    // content:"\f040";
    content:"";
    display:block;
    background-image: url('icons/edit.png');
    background-size: 30px 30px;
    height:30px;
    width:30px;
}
.toggleIcon::before {
    // font-family: "fontAwesome";
    // content:"\f040";
    content:"";
    display:block;
    background-image: url('icons/open-accord.png');
    background-size: 30px 30px;
    height:30px;
    width:30px;
}








.nav-block{
    
    .nav-link{
        display: block;
        padding: .4rem;
        background: #d9edfd;
        color: #4c4c4c;
        border: 1px solid #B8D4E8;
        margin-bottom: 3px;
        &::before{
            font-size: 1.4rem;
            color: #669fe2;
            font-family: fontAwesome;
            margin-right: .3rem;
        }
        &.active,
        {
            background: #e5991c;
            border-color: #e5991c;
            color: #fff;
            &::before {
                color: #fff;
            }
        }
        &:hover{
            background: #4c4c4c;
            border-color: #4c4c4c;
            color: #fff;
            &::before {
                color: #fff;
            }
        }
        &.disabled,&.disabled:hover{
            background: #999;
            color: #fff;
        }
    
        &.toggle.collapsed:after {
            content: "▾";
            margin-left:8px;
        }
        &.toggle:not(.collapsed):after {
            content: "▴";
            margin-left:8px;
        }
    }
}


.topRight{
    top:1rem;right:1rem;position:absolute;
}


.border-all{
    border: 1px solid $border-color-dark;
}.border-right{
    border-right: 1px solid $border-color-dark;
}.border-top{
    border-top: 1px solid $border-color-dark;
}.border-left{
    border-left: 1px solid $border-color-dark;
}.border-bottom{
    border-bottom: 1px solid $border-color-dark;
}
.checkBoxCard{
    border: 1px solid #000;
    position: relative;
    display: table;
    width: 100%;
    .upper,
    .lower{
        height: 50px;
        overflow: hidden;
        display: table-row;
        span{
            padding: 0 80px 0 10px;
            display: table-cell
        }
    }&.checked{
        .box{
            .check{
                display: block;
            }
        }
    }.upper{
        background-color: #cecece;
        font-size: 1.2rem;
        font-weight: bold;
    }.lower{
        background-color: #f0f0f0;
    }.box{
        font-family: 'LucidaGrande','LucidaGrande';
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
        border: 1px solid #999;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 35%;
        right: 40px;
        background: #fff;
        .check{
            position: absolute;
            line-height: .3;
            display: none;
        }
    }
}




//accordion styles
.panel.panel-default {
    margin-top: 10px;
    & > .panel-heading {
        background: #669fe2;
        color: white;
        padding: 0.3rem 0.3rem 0.3rem 1rem;
        margin: 0;
        position: relative;
        h2{
            font-weight: normal;
            font-size: 1rem;
            margin-bottom: 0;
        
        button {
            all: inherit;
            width:100%;
            cursor: pointer;
            background: none;
            border: none;
            text-align: left;
            color: #fff;
            &::before{
                font-family: "FontAwesome";
                content: "\f0da";
                margin-right: .9rem;
                transition: transform 400ms;
                display: inline-block;
            }
        }
        
            &:focus,&:hover{
                &::before{
                    color: #999;
                }
            }
        }
        .leftElement{
            margin-left: 1rem;
            font-size: .9rem;
            font-weight: 200;
        }
        .rightElement{
            position:absolute;
            right: 6px;
            top: 3px;
            font-size: .9rem;
        }
    }
    .panel-collapse {
        padding-left: 50px;
        //display: block;
        padding-left: 0px;
    }
    &.openPanel {
        & > .panel-heading {
            button::before {
                //content: "\f0d7";
                transform: rotate(90deg);
            }
        }
                  
    }
}







.editTarget[disabled] {
    border: none;
    background: none;
    padding-left: 0;
}
.editForm{
    .form-control{
        border: none;
        background: none;
        padding-left: 0;
    }
}
.text-bold {
    font-weight: bold;
}


// screen breaks below
@media(min-width: 576px) {
    .navbar-toggleable-md .navbar-collapse {
        z-index: 1;
        position: absolute;
        width: 400%;
        top: 4px;
        left: 70px;
    }


    .globalNav{
        display: block;
    }
}

.navbar-toggleable-md .navbar-collapse {
    width: 350px;
}
@media(min-width: 768px) {
    .header {
        height: 80px;
    }
      
  
    .logo {
        margin-left: 10px;
        margin-top: 15px;
    }
    .navbar-toggleable-md .navbar-collapse {
        width: 300px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 14px;
        line-height: 18px;
    }
    //nav bar hiding methods...  
    .navbar-toggleable-md .navbar-toggler {
        display: none;
    }
    .navbar-toggleable-md .navbar-collapse {
        display: block;
        width: 100%;
        position: static;  
    }
  
  
    .section-nav{
        width: 13%;
    }
    .header {
        height: 90px;
    }
}

@media (min-width: 1200px) {
  
}
@media (min-width: 1300px) {
    .header {
        height: 100px;
    }

}
