.section-nav{
	position: relative;
	display: inline-block !important;
	margin-top: 0;
	margin-left: 20px;
	vertical-align: top;
	padding: 0;
	.collapse.show {
		display: block;
	}
}
	
.logoColor { fill: blue;}

.header {
	height: 90px;
	color: $header-bkg;
	background: #fff;
	border-bottom: 1px solid #578de1;
	position: relative;
	z-index: 2;
	a{
		text-decoration: none;
	}
	&::before{
		display: block;
		height: 1rem;
		content: "";
		background-color: $header-bkg;
	}
	
	.productName, .productName p {
		font-size: 1.1rem;
		font-weight: 400;
		margin: 0;
		max-width: 200px;
		line-height: 1.2rem;
	}
	
	.subTitle p {
		color:$tertiary-1;
		font-size: 1rem;
		margin-top: 0.2rem;
	}
	
	.userIcon {
		font-size: 2rem;
		display: inline-block;
		vertical-align: top;
		margin: .3rem .3rem 0 0;
		color: #96acbb;
	}
	
	.userInfo {
		display: inline-block;
		max-width: 300px;
	
		.userName {
			font-weight: 400;
		}
		
		.userRole {
			font-size: .9rem;
		}
	}
	
	.logo {
		display:inline-block;
		
	}

	.logoName{
		display:inline-block;
		font-size: 0.8rem;
		padding-top: .5rem;
	}
		
	.headerMenu {
		padding-right: 20px;
		float: right;
		.btn-group{
			padding-top: 1.8rem;
			margin-right: 1rem;
			float: right;
			.btn.btn-icon i{
				font-size: 2.2rem;
			}
		}
		.topLinksMenu{
			padding: .5rem 0 ;
			a {
				float: right;
				margin-right: 1rem;
				&:not(:first-child)::after {
					content: "|";
					margin-left: 1rem;
				}
			}
		}


		.form-group{
			margin-bottom:0;
		}

		.form-control{
			background-color: #217ECA;
			border-color: #8FBEE4;
		}
			
		
	}	  
}
	
@media screen and (min-width: 768px) {

}
	
#custom-search-input{
	padding: 3px;
	border: solid 1px #E4E4E4;
	border-radius: 6px;
	background-color: #fff;
}

#custom-search-input input{
	border: 0;
	box-shadow: none;
}
	
#custom-search-input button{
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
	border: 0;
	box-shadow: none;
	border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
	font-size: 23px;
}
	
.message-notification{
	vertical-align: top;
	display: inline-block;
	position: relative;
	
	.circle {
		background-color:white;
		position: absolute;
		border:2px solid $header-bkg;    
		height:20px;
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		width:20px;
		
		.count{
			position:absolute;
			left:4px;
			top:-5px;
		}
	}
	.message-bell{
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		transform: rotate(-15deg);
		display: inline-block;
		font-size:30px !important;
		//@include rotate(-15);
	}
}
