ng-component{
    display: inline-block;
    width:100%;
}
.scrollGrid {
    border: 1px solid #cecece;
    position: relative;
}

.ui-expanded-row-content .scrollGrid .ui-datatable-scrollable-body, 
.ui-expanded-row-content .ui-datatable .ui-datatable-scrollable-body {
    min-height: 0px;
}

.ui-datatable,.scrollGrid {
    position: static;
    font-size: 1rem;
    .ui-selection-column .ui-chkbox {
        display: inline-block;
    }
    .ui-datatable-scrollable-body{
        min-height: 60px;
    }
    
    th.ui-state-default{
        background: #daedfc;
        color: #4d4c57;
    }
    th.ui-state-active{
        background: #b3dcfc;
    }

    .ui-datatable-data > tr > td {
        border-width: 1px 0;
    }
    tbody > tr {
        &.ui-widget-content.ui-datatable-even {
            background-color: #fff;
        }
        &.ui-widget-content.ui-datatable-odd {
            background-color: #edf7ff;
        }
        &.ui-widget-content.ui-state-highlight { 
            color: inherit;
        }
    }
    .ui-datatable-footer {
        border: none;
        background: none;
        text-align: left;
        font-size: .8rem;
        padding: 0;
    }
    th.ui-sortable-column:not(.ui-state-active):hover {
        background-color: #b3dcfc;
        .ui-sortable-column-icon {
            color: #4c4c4c;
        }
    }
    
    .col-icon {
        width: 30px;
    }
    .col-select {
        width: 38px;
    }
    .actionMenu {
        width: 50px;
    }
    
    .ui-datatable-thead > tr > th {
        position: relative;
        text-align: left;
        border: none;
        padding: .2rem 2px .2rem .4rem ;
        line-height: 1rem;
        .ui-column-title {
            display: block;
            text-align: left;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 40px; 
            
        }

        .filterHolder{
            position: relative;
            margin-top: 3px;
                input{
                    max-width: 100%;
                    min-width: 98%;
                }
                button{
                    position: absolute;
                    right: 3%;
                    top: 4px;
                    font-size: .8rem;
                    border: none;
                    height: 1rem;
                    color: #b9b6b6;
                    padding: .1rem .3rem;
                    color: #b9b6b6;
                    &:hover, &:focus{
                        color: #4c4c4c;
                    }
                }
            }
            .gridFilterIcon {
                position:absolute;
                right: 0;
                top: 0;
                color: #b9b6b6;
                &::before{
                    background-size: 15px 15px;
                    height: 15px;
                    width: 15px;
                    display: block;
                    font-family: "fontAwesome";
                    content: "\f0b0";
                    font-size: .8rem;
                }
                &:hover, &:focus{
                    color: #4c4c4c;
                }
            }
       
       
        .ui-sortable-column-icon {
            font-size: 1rem;
            color: #b9b6b6;
            position:absolute;
            right: 14px;
            top: 2px;
            &:hover, &:focus{
                color: #4c4c4c;
            }
        }
        .fa-sort:before, .fa-unsorted:before {
            content: "\f176";;
        }
        .fa-sort:after, .fa-unsorted:after {
            content: "\f175";;
        }
        .fa-sort-asc:before,.fa-sort-asc:after {
            color: #e5991c;
            &:hover{
                color: #4c4c4c;
            }
        }
        .fa-sort-desc:before,.fa-sort-desc:after {
            color: #e5991c;
            &:hover{
                color: #4c4c4c;
            }
        }
    }
    tr.ui-expanded-row-content {
        background: #D9EDFD;
        padding: .4rem;
        .ui-datatable {
            .ui-state-default {
                background-color: #ccc;
                color: #555;
                span.ui-sortable-column-icon {
                    color: #555;
                }
            }
        }
    }
    p-header {
       float:left;
        margin-left: 1rem;
        font-size: 1.1rem;
    }
    th.dropdown, td.dropdown {
        width: 40px;
    }
    td:not(.dropdown) .ui-cell-data {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 98%;
        height: 1.3em;
        display:block;
    }
}

.ui-expanded-row-content .scrollGrid td.dropdown .ui-cell-data, .ui-expanded-row-content .ui-datatable td.dropdown .ui-cell-data {
    overflow: visible;
}

.ui-widget-content {
    border:none;
}
.ui-widget-header {
    background: #6e9de1;
    border: none;
    text-align: left;
    color: #fff;
    &.ui-paginator {
        font-size: .8rem;
        text-align: right;
        .ui-paginator-page.ui-state-active {
            background: #184987;
            color: #ffffff;
            
        }
        .ui-corner-all {
            border-radius: 0px;
        }
        .ui-state-default{
            border: none;
        }
        .ui-paginator-first{
            background: none;
            color:#fff;
            .fa-step-backward::before{
                content: "\f053";
            }
        }
        .ui-paginator-prev{
            background: none;
            color:#fff;
            .fa-backward::before{
                content: "\f060";
            }
        }
        .ui-paginator-next{
            background: none;
            color:#fff;
            .fa-forward::before{
                content: "\f061";
            }
        }
        .ui-paginator-last{
            background: none;
            color:#fff;
            .fa-step-forward::before{
                content: "\f054";
            }
        }
    }
}

.recordsDisplayed{
    position: absolute;
    left: 43%;
    padding-top: .1rem;
    font-size: .9rem;
}
.ui-datatable-header .btn-plain { 
    color: #FFF; 
}
span.ui-cell-data img { 
margin-right: 10px; 
}
.scrollGrid .ui-datatable-thead > tr > th.activeFilter .gridFilterIcon::before,
.ui-datatable .ui-datatable-thead > tr > th.activeFilter .gridFilterIcon::before { 
    color: orange; 
}