@import "mixins/_transform";

$headerHeight: 100px;
$header-bkg: #2667c1;
$header-userIcon-height: 3.3rem;
$header-faIcon-size: 3.3rem;
$header-search-bkg: rgb(51, 121, 190);
$header-btn-height: 55px;
$header-dropdown-marginTop: 6px;

$iconColor: #e19926;
$text-grey-lite: #959595;

$toolbar-height: 123px;
$globalNav-height: 30px;
$globalNav-background-color:#333;
$globalNav-font-color: #fff;


$sidebar: #034b7c;

$focus-outline-setting: #8FBEE6 solid 2px;
$footer-bkg : $gray-dark;
$footer-height-nimbus: 120px;
$footer-color : #fff;

$border-color: #bbd3e8;
$border-color-dark: darken($border-color, 50%);
$border-color-light: lighten($border-color, 30%);


$bg-alternate-color-odd: #fff;
$bg-alternate-color-even: #e6e6e6;


$goGreen: #599E63;
$mecury:#E6E6E6;
$silverChalice:#aaaaaa;
