@import "mixins/_transform";

$headerHeight: 100px;
$header-bkg: #2667c1;
$header-userIcon-height: 3.3rem;
$header-faIcon-size: 3.3rem;
$header-search-bkg: rgb(51, 121, 190);
$header-btn-height: 55px;
$header-dropdown-marginTop: 6px;


$primary-1:#006BC2;
$primary-2:#669fe2;
$primary-3:#edf7ff;
$primary-4:#4c4c4c;
$primary-5: #e5991c;
$primary-6: #9dd3f7;

$secondary-1: #014b87;
$secondary-2: #d9edfd;
$secondary-3: #b8d4e8;
$secondary-4: #b9b6b6;
$secondary-5: #ebebeb;
$secondary-6: #5aa00d;

$tertiary-1: #94acbc;
$tertiary-2: #e8e5e5;
$tertiary-3: #b8e986;
$tertiary-4: #ae0015;
$tertiary-5: #f4c70f;
$tertiary-6: #fcf6d9;


$iconColor: #e19926;
$text-grey-lite: #959595;

$toolbar-height: 123px;
$globalNav-height: 30px;
$globalNav-background-color:#333;
$globalNav-font-color: #fff;


$sidebar: #034b7c;

$focus-outline-setting: #8FBEE6 solid 2px;
$footer-bkg : $gray-dark;
$footer-height-nimbus: 120px;
$footer-color : #fff;

$border-color: #bbd3e8;
$border-color-dark: darken($border-color, 50%);
$border-color-light: lighten($border-color, 30%);


$bg-alternate-color-odd: #fff;
$bg-alternate-color-even: #e6e6e6;


$goGreen: #599E63;
$mecury:#E6E6E6;
$silverChalice:#aaaaaa;


