<form id="{{formId}}" [formGroup]="form" novalidate>
    <nm-label *ngIf="!isLabelEmpty" [element]="element" [size]="labelSize"></nm-label>

    <!-- Render form elements -->
    <ng-template [ngIf] = "formModel.length > 0">
        <ng-template ngFor let-frmElem [ngForOf]="formModel">
            <ng-template [ngIf]="frmElem.elementType == formElementType.ACCORDION.toString()">
                <nm-accordion [element]="frmElem.param" [elementCss]="elementCss" [form]="form" [position]="position + 1">
                </nm-accordion>
            </ng-template>
            <ng-template [ngIf]="frmElem.elementType == formElementType.GRID.toString()">
                <!-- Future Implementation -->
            </ng-template>
            <ng-template [ngIf]="frmElem.elementType == formElementType.ELEMENTGROUP.toString()">
                <nm-frm-grp [element]="frmElem.param" [form]="form" [elementCss]="elementCss" [position]="position + 1"> 
                </nm-frm-grp>
            </ng-template>
            <ng-template [ngIf]="frmElem.elementType == formElementType.ELEMENT.toString()">
                <nm-frm-grp [element]="frmElem.param" [form]="form" [elementCss]="elementCss" [position]="position"> 
                </nm-frm-grp>
            </ng-template>
        </ng-template>
    </ng-template>

</form>
