<nm-message messageContext="{{element?.message.context}}"  [messageArray]="element?.message.messageArray" [life]="element?.message.life" *ngIf="element?.message"></nm-message>
<div class="card-holder {{cssClass}}" id="{{code}}" *ngIf="visible==true">
		<div class="card-header">
			<nm-label id="{{element.config?.code}}" *ngIf="!isLabelEmpty" [element]="element" [size]="labelSize" [labelClass]="imgSrc + ' card-title'"></nm-label>
			<ng-template ngFor let-element [ngForOf]="nestedParams">
				<!-- ButtonGroup -->
				<ng-template [ngIf]="element.alias == componentTypes.buttonGroup.toString()">
					<div class="">
						<nm-button-group [buttonList]="element.type?.model?.params" class="{{element.config?.uiStyles?.attributes?.cssClass}} buttonGroup">
						</nm-button-group>
					</div>
				</ng-template>
				<!-- Paragraph -->
				<ng-template [ngIf]="element.alias == componentTypes.paragraph.toString()">
					<nm-paragraph id="{{element.config?.code}}" [element]="element" [ngClass]="element.config.uiStyles.attributes.cssClass" [hidden]="!element.visible"></nm-paragraph>
				</ng-template>
			</ng-template>		
		</div>
	<div class="card card-block ">
		<div class="viewport" >
			<ng-template ngFor let-element [ngForOf]="nestedParams">
				<ng-template [ngIf]="element.alias == viewComponent.tile.toString()">
					<nm-tile id="{{element.config?.code}}" [element]="element" tileType="subtile" [nmPrint]="element"></nm-tile>
				</ng-template>
				<ng-template [ngIf]="element.alias == viewComponent.section.toString()">
					<nm-section id="{{element.config?.code}}" [element]="element" [position]="position+1" [nmPrint]="element" class="{{element.config?.uiStyles?.attributes?.cssClass}}"></nm-section>	
				</ng-template>
				<ng-template [ngIf]="element.alias == viewComponent.modal.toString()">
					<nm-modal id="{{element.config?.code}}" [element]="element" [nmPrint]="element" [contentSelector]="'div.ui-dialog-content'"></nm-modal>
				</ng-template>
				<ng-template [ngIf]="element.alias == 'Tab'">
					<nm-tab id="{{element.config?.code}}" [element]="element"></nm-tab>
				</ng-template>
			</ng-template>	
		</div>
	</div>
</div>
