<nm-message messageContext="{{element?.message.context}}"  [messageArray]="element?.message.messageArray" [life]="element?.message.life" *ngIf="element?.message"></nm-message>
<div class="card-holder" id="{{code}}" [ngClass]="styleWd" *ngIf="visible==true">
		<div class="card-header">
			<nm-label *ngIf="!isLabelEmpty" [element]="element" [size]="labelSize" [labelClass]="imgSrc + ' card-title'"></nm-label>
			<ng-template ngFor let-element [ngForOf]="nestedParams">
				<!-- ButtonGroup -->
				<ng-template [ngIf]="element.alias == componentTypes.buttonGroup.toString()">
					<div class="">
						<nm-button-group [buttonList]="element.type?.model?.params" [cssClass]="element.config?.uiStyles?.attributes?.cssClass">
						</nm-button-group>
					</div>
				</ng-template>
				<!-- Paragraph -->
				<ng-template [ngIf]="element.alias == componentTypes.paragraph.toString()">
					<nm-paragraph [element]="element"></nm-paragraph>
				</ng-template>
			</ng-template>		
		</div>
	<div class="card card-block {{styleHt}}">
		<div class="viewport" >
			<ng-template ngFor let-element [ngForOf]="nestedParams">
				<ng-template [ngIf]="element.alias == viewComponent.tile.toString()">
					<nm-tile [element]="element" tileType="subtile"></nm-tile>
				</ng-template>
				<ng-template [ngIf]="element.alias == viewComponent.section.toString()">
					<nm-section [element]="element" [position]="position+1"></nm-section>	
				</ng-template>
				<ng-template [ngIf]="element.alias == viewComponent.modal.toString()">
					<nm-modal [element]="element"></nm-modal>	
				</ng-template>
			</ng-template>	
		</div>
	</div>
</div>
