<ng-template [ngIf]="type == componentTypes.dialog.toString()">
    <p-dialog #modal
        [(visible)]="display" 
        [closable]="closable"
        [closeOnEscape]="false" 
        [focusOnShow]="false"
        [modal]="true" 
        [width]="width" 
        (visibleChange)="closeDialog($event)"
        appendTo="body" 
        [responsive]="true" 
        [blockScroll]="true">
        
        <p-header>
            <nm-input-label [element]="element"></nm-input-label>
        </p-header>
        <ng-template ngFor let-element [ngForOf]="nestedParams">
            <ng-template [ngIf]="element.alias == viewComponent.section.toString()">
                <nm-section [element]="element" [nmPrint]="element"></nm-section>	
            </ng-template>
        </ng-template>   
    </p-dialog>
</ng-template>
