$width-full: 100%;
$width-one-third: 33.34%;
$width-two-third: 66.66%;
$width-one-half: 50%;

.antm-form{
  width: $width-full;
  .div-thin, .div-full{
    padding-top: 10px;
  }
}

.form-block{
  .div-thin{
    width: $width-one-half;
    padding-right: 10px;
    float: left;
  }
  .div-full{
    width: $width-full;
  }
}

.form-horizontal{
  antm-cmp{
    width: $width-full;
    float: left;
  }
  .div-thin{
    width: $width-full;
    .anthem-label{
      width: $width-one-third;
      float: left;
    }
    .input-control{
      width: $width-two-third;
      float: left;
    }
  }
  .MultiGrid {
    .anthem-label {
        width: 55%;
        display: inline-block;
    }

    .input-control {
        width: 40%;
        display: inline-block;
    }
  }
  
}

.form-without-label{
  .div-thin{
    .anthem-label{
      display: none;
    }
  }
}
