
.header {
    //position: fixed;
    height: $headerHeight;
    left:0;
    right:0;
    top:0;
    z-index: 1000;
	background-color: $header-bkg;
	padding-top: .9rem;
	
	label{
		color:#fff;
		font-size: .9rem;
	}
	
	.btn-group .sizeTarget,.productName .sizeTarget {
			@extend .head-3;
			margin-top: .3rem;
			&:first-child,
			&:first-child a {
				@extend .head-2;
			}
		}
     
        .logo {
			display:inline-block;
			width: 150px;
			margin-left: 10px;
			margin-top: 0px;
			vertical-align: top;
		}
		.logoName{
			display:inline-block;
			font-size: 0.8rem;
			padding-top: .5rem;
		}
	
        .headerMenu {
			color: #fff;
			.btn-group{
				height: $header-btn-height ;
				padding-top:10px;
				// a{display:inline-block;}
			}
			.form-group{
				margin-bottom:0;
			}
			.form-control{
				background-color: #217ECA;
    			color: #fff;
				border-color: #8FBEE4;
			}
			// .input-group-addon{
			// 	background-color: $header-search-bkg;

			// }
			svg{
				height: $header-userIcon-height;
				width: $header-userIcon-height;
				fill: #3A7EC4;
				stroke: #fff;
				&:hover{
					fill: $sidebar;
				}
			}
			
			
			// img {
			// 	height: $header-userIcon-height;
			// 	background-color:#fff;
			// }
			// i{
			// 	font-size: $header-faIcon-size;
			// 	margin-right:.5rem;
			// 	margin-top:.2rem;

			// }
			// .tag { 
			// 	    background-color: red;
			// 		color: #fff;
			// 		position: absolute;
			// 		left: 25px;
			// 		font-size: 1rem;
			// 		border-radius: 50%;
			// 		width: 1.1rem;
			// 		height: 1.2rem;
			// 		padding-top: .3rem;
			// }

		
			.button-group{
				height: $header-btn-height ;
			}
			// .dropdown-menu 
			// 	{
			// 	width: 95%;
			// 	min-width: 200px;
			// 	background-color: $gray-lighter;
			// 	margin-top: $header-dropdown-marginTop;
			// 	border-radius:0;
				// a.dropdown-item
				// {
				// 	color:$gray-dark;
				// 	box-sizing: border-box;
				// }
				// .card {
				// 	border-radius:0;
				// }
			//}
			// .dropdown-toggle::after{
			// 	font-size: 1.5rem;
			// }
        }
       

}


.custom-control-indicator {
    border: 1px solid #8fbee4;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}


.message-notification{
	vertical-align: top;
	display: inline-block;
	position: relative;

	.circle {
		background-color:$header-bkg;
		position: absolute;
		border:2px solid white;    
		height:20px;
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		width:20px;

		.count{
			position:absolute;
			left:4px; 
			top:-5px;
		}

		
	}
	.message-bell{
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		transform: rotate(-15deg);
		display: inline-block;
		font-size:30px !important;

		//@include rotate(-15);
	}
}


