<div class="header" *ngIf="topMenuItems || branding">
        <a class="sr-only" aria-hidden="true" href="">Skip Navigation</a>
    <a *ngIf="headerImageURL" [routerLink]="[homeRoute]">
        <img src="{{headerImageURL}}" class=" logo" alt="{{this.label}}" />
    </a>
    <div class="p-0 float-right clearfix">
        <nav class=" nav navbar navbar-expand-sm headerMenu float-right clearfix" role="navigation">
            <button aria-controls="navbarToggler right" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed" data-target="#navbarToggler2" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div aria-expanded="false" class="navbar-collapse nav-block collapse" id="navbarToggler2" style="">
                <div class="topLinksMenu clearfix">
                    <nm-link [element]="branding.help" *ngIf="branding.help"></nm-link>
                    <nm-link [element]="branding.logOut" *ngIf="branding.logOut"></nm-link> 
                </div>
                <div class="btn-group float-right clearfix">
                    <ng-template ngFor let-element [ngForOf]="branding?.linkNotifications?.type?.model?.params">
                        <ng-template [ngIf]="element.alias == 'Button'">
                            <nm-button [element]="element"> </nm-button>
                        </ng-template>
                        <ng-template [ngIf]="element.alias == 'Link'">
                            <nm-link [element]="element"></nm-link> 
                        </ng-template>
                        <ng-template [ngIf]="element.alias == 'LinkMenu'">
                            <nm-action-dropdown #dropDown [element]="element" 
                            (dropDownClick)="toggleOpen($event)"></nm-action-dropdown>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </nav>
        <div class="mr-3 mt-2 d-inline-block float-right">
            <i class="fa fa-user userIcon"></i>
            <div class="userInfo">
                <div class="userName">
                    <nm-value [element]="branding.userName" *ngIf="branding.userName"></nm-value>  
                </div>
                <div class="userRole">
                    <nm-value [element]="branding.userRole" *ngIf="branding.userRole"></nm-value>  
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 d-none d-sm-inline-block p-0 ml-3 mt-1 ">
        <div class="productName  d-inline-block">
            <nm-paragraph [element]="branding.appTitle" *ngIf="branding.appTitle"></nm-paragraph>
            <div class="subTitle" *ngIf="branding.subTitle">
                <nm-paragraph [element]="branding.subTitle"></nm-paragraph> 
            </div>
        </div>
            
        <!-- <div class="hidden-md-down col-lg-5 align-bottom">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div> -->

    </div>
</div>
