<nm-breadcrumb></nm-breadcrumb>
<span *ngIf="hasLayout">
	<div class="info-bar clearfix">
		<!-- <ng-template [ngIf]="headers" >test -->
			<nm-layout [element]="headers"></nm-layout>
		<!-- </ng-template> -->
	    <!-- <div [class]="p.config?.uiStyles?.attributes?.cssClass" *ngFor="let p of subHeaders, let index=index">
	        <ng-template ngFor let-element [ngForOf]="p.type?.model?.params">
				<nm-subheader [element]="element" [(value)]="element.leafState"></nm-subheader>
	        </ng-template>
	    </div> -->
	</div>
	
	<nav class="section-nav nav navbar navbar-toggleable-md navbar-light" role="navigation">
	    <button aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed"
	        data-target="#navbarToggler" data-toggle="collapse" type="button"> 
	        <span class="navbar-toggler-icon"></span> 
	    </button>
	    <div aria-expanded="false" class="navbar-collapse nav-block collapse" id="navbarToggler">
			<ng-template ngFor let-menuItem [ngForOf]="leftMenuItems">
				<a class="nav-link {{menuItem.image}}" [routerLink]="[menuItem.path]" routerLinkActive="active" *ngIf="menuItem.visible">
					{{menuItem.title}}
				</a>
			</ng-template>
	    </div>
	</nav>
</span>
<div class="{{infoClass}}">
    <router-outlet></router-outlet>
</div><!--  END Domain-content  -->
