<nm-breadcrumb></nm-breadcrumb>
<ng-template [ngIf]="hasLayout">
	<div class="info-bar clearfix">
	    <div [class]="p.config?.uiStyles?.attributes?.cssClass" *ngFor="let p of accordions, let index=index">
	            <nm-accordion [element]="p" [nmPrint]="p"></nm-accordion>
	    </div>
	</div>
	
	<nav class="section-nav nav navbar navbar-expand-sm" role="navigation">
        <button aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed"
            data-target="#navbarToggler" data-toggle="collapse" type="button"> 
            <span class="navbar-toggler-icon"></span> 
        </button>
        <div aria-expanded="false" class="navbar-collapse nav-block collapse" id="navbarToggler">
			<nm-panelMenu [model]="items" [multiple]="false"></nm-panelMenu>
		</div>
	</nav>

	<nm-actiontray *ngIf = "(actionTray !== undefined) && actionTray?.visible" [element]="actionTray"></nm-actiontray> 

	<ng-template ngFor let-modal [ngForOf]="modalItems">
		<nm-modal [element]="modal"></nm-modal>
	</ng-template>	

</ng-template>
<div id="page-content" class="{{infoClass}}" (scroll)="onPageContentScroll($event)">
    <router-outlet></router-outlet>
</div><!--  END Domain-content  -->
