<ng-template ngFor let-element [ngForOf]="element?.type?.model?.params">
    <ng-template [ngIf]="element.alias == 'Section'">     
        <ng-template ngFor let-subheader [ngForOf]="element?.type?.model?.params">    
            <ng-template [ngIf]="subheader.alias == 'SubHeader'">
                <div class = "subheader?.config?.uiStyles?.attributes?.cssClass">
                    <ng-template ngFor let-param [ngForOf]="subheader?.type?.model?.params">
                            <nm-subheader [element] = "param" [(value)]="param.leafState"> #{{param.leafState}}#</nm-subheader>
                    </ng-template>
                </div>
            </ng-template>
        </ng-template>
    </ng-template>
</ng-template>
        
    