<!-- <div class="col-xs-12 alert alert-{{element?.type?.model?.config?.message?.type}}" role="alert" *ngIf="element?.type?.model?.config?.message">
    {{element?.type?.model?.config?.message?.content}}
</div> -->
 
<!-- Total Results: {{data == null ? leafState.length : data?.length}}   -->
 
<div id="gsFlexGrid">
	<div class="ui-datatable-header ui-widget-header">
		<p-header>Grid title - All (185)</p-header>
		<div class="recordsDisplayed">Showing 1-50 records</div>
	</div>

	<p-dataTable #flex #dataTable #table [value]="data"
		[(selection)]="selectedRows" 
		(onRowClick)="onRowClick($event)"
		(onRowSelect)="onRowSelect($event)"
		(onRowUnselect)="onRowUnselect($event)"
		[rows]="element.config?.uiStyles?.attributes?.pageSize"
		[paginator]="element.config?.uiStyles?.attributes?.pagination"
		paginatorPosition="both"
		[expandableRows]="element.config?.uiStyles?.attributes?.expandableRows"
		(onRowExpand)="getAddtionalData($event)"
		[responsive]="true" #dt> 

		<p-column [style]="{'width':'38px'}" 
			selectionMode="multiple" *ngIf="element.config?.uiStyles?.attributes?.rowSelection">
		</p-column> 

		<p-column expander="true" styleClass="col-icon" *ngIf="element.config?.uiStyles?.attributes?.expandableRows"></p-column>

		<ng-template ngFor let-col [ngForOf]="params">

			<p-column *ngIf="!col?.config?.type?.nested"
				[field]="col?.config?.code" 
				[header]="col?.config?.label"
				[hidden]="col?.config?.uiStyles?.attributes?.hidden"
				[sortable]="!col?.config?.uiStyles?.isLink"
				[filter]="col?.config?.uiStyles?.attributes?.filter"
				[filterMatchMode]="col?.config?.uiStyles?.attributes?.filterMode"> 
							
				<ng-template pTemplate="header"> 
					<span title="{{col?.config?.label}}"  *ngIf="!col.config?.uiStyles?.isLink">{{col.config.label}}</span> 
					<a href="javascript:void(0)" (click)="toggleFilter($event)" class='gridFilterIcon' *ngIf="!col.config?.uiStyles?.isLink"></a> 
				</ng-template> 
				
				<ng-template *ngIf="col.config?.uiStyles?.attributes?.alias == 'CheckBox'" pTemplate="body" let-cell="rowData"> 
					<label> <input type="checkbox" (click)="postOnChange(col, cell)"> </label> 
				</ng-template> 
				
				<ng-template let-col let-row="rowData" pTemplate="body">
					<span title="{{row[col.field]}}">{{row[col.field]}}</span> 
				</ng-template> 
				
				<!-- Sandeep -->
				<!-- The below commented lines from to END are to be uncommented when the server starts sending the enabled flag
				for every grid column. -->
				<!-- <ng-template *ngIf="col.config.uiStyles?.isLink && col.enabled?.currState" pTemplate="body" let-cell="rowData"> -->
				<ng-template *ngIf="col.config.uiStyles?.isLink" pTemplate="body" let-cell="rowData">
					<span [ngSwitch]="col.config.uiStyles?.attributes?.imgSrc"> 
						<a *ngSwitchCase="''" href="javascript:void(0)" (click)="processOnClick(col, cell)"> {{col.config.label}}  </a> 
						<img *ngSwitchDefault src="{{imagesPath}}{{col.config?.uiStyles?.attributes?.imgSrc}}" class="grid-icon" (click)="processOnClick(col, cell)" type="submit" />
					</span> 
				</ng-template> 
				<!-- END -->

				<!-- 				
				<ng-template *ngIf="col.config.uiStyles?.isLink && !col.enabled?.currState" pTemplate="body" let-cell="rowData">
					<span [ngSwitch]="col.config.uiStyles?.attributes?.imgSrc">
						<a *ngSwitchCase="''" href="javascript:void(0)" class="btn disabled">{{col.config.label}} </a> 
						<img *ngSwitchDefault src="{{imagesPath}}{{col.config?.uiStyles?.attributes?.imgSrc}}" class="grid-icon" />
					</span>
				</ng-template>
				 -->
			</p-column> 

		</ng-template>
				
		<ng-template ngFor let-col [ngForOf]="params">
			<ng-template *ngIf="col?.config?.type?.nested" let-subTbl pTemplate="rowexpansion">
				<infinite-scroll-grid
								[data]="col?.config?.gridList"
								[element]="col"
								[params]="col?.config?.gridCols">
				</infinite-scroll-grid>
			</ng-template>
		</ng-template>
		
		<p-footer> 
			<ng-template [ngIf]="element.config?.uiStyles?.attributes?.postButton">
				<div class="text-sm-left">
					<button (click)="postGridData(this)" type="button" class="btn btn-action post-btn">
						{{postButtonLabel}}
					</button>
				</div>
			</ng-template> 
		</p-footer> 
				   
	</p-dataTable>
</div>

<!-- <p-overlayPanel #op>
	<div>
		<ng-template ngFor let-key [ngForOf]="summaryData | keys">
			<div class='d-inline-block mr-3 align-top'>
				<u>{{key.key}}</u> <br> <b>{{key.value}}</b>
			</div>
		</ng-template>
	</div>
</p-overlayPanel> -->
