<div style="text-align:center">
    <h1>
        Welcome to Tree grid!
    </h1>
</div>

<p-treeTable [value]="files">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <ng-template ngFor let-col let-colIndex="index" [ngForOf]="params">
                <th *ngIf="showHeader(col)">{{getLabelValue(col)}}</th>
            </ng-template>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr>
            <td>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            </td>
            <ng-template ngFor let-col let-colIndex="index" [ngForOf]="params">
                <td *ngIf="showColumn(col)">{{getCellDisplayValue(rowData, col)}}</td>
            </ng-template>

        </tr>
    </ng-template>
</p-treeTable>